#!/usr/bin/env bash

set -euo pipefail
echo "Adding apt sources"
wget -q https://www.virtualbox.org/download/oracle_vbox_2016.asc -O- | sudo apt-key add -
wget -q https://www.virtualbox.org/download/oracle_vbox.asc -O- | sudo apt-key add -
curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -
echo "deb https://apt.kubernetes.io/ kubernetes-xenial main" | tee -a /etc/apt/sources.list.d/kubernetes.list
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
apt-get update

echo "installing helpers..." 
apt-get install -y \
  apt-transport-https \
  ca-certificates \
  curl \
  software-properties-common \
  jq \
  npm \
  nano \
  vim \
  linux-headers-generic \
  make \
  patch \
  gcc \
  wget \
  docker-ce \
  kubectl \
  apache2

echo "installing yq..."
snap install yq

echo "enabling docker..."
systemctl enable --now docker

echo "installing keptn cli..."
#wget https://github.com/keptn/keptn/releases/download/${keptn_release}/${keptn_release}_keptn-linux.tar
#tar xzf ${keptn_release}_keptn-linux.tar
#chmod +x keptn
#mv keptn /usr/local/bin/keptn

echo "getting pre-release Keptn CLI"
wget https://storage.googleapis.com/keptn-cli/latest/keptn-linux.tar.gz
tar xzf keptn-linux.tar.gz
chmod +x keptn
mv keptn /usr/local/bin/keptn

#echo "allow password login..."
#sed -i 's/PasswordAuthentication no/PasswordAuthentication yes/' /etc/ssh/sshd_config
#sed -i 's/#MaxSessions 10/MaxSessions 150/' /etc/ssh/sshd_config
#systemctl restart sshd

#apt install -y 
curl -Lo minikube https://storage.googleapis.com/minikube/releases/${minikube_release}/minikube-linux-amd64 && chmod +x minikube
cp minikube /usr/bin/
minikube start --cpus 2 --memory 6000 --vm-driver=none

cd /home/${username}
chmod +rwx -R /home/${username}/.kube/
chmod +rwx -R /home/${username}/.minikube/

#install keptnq
keptn install --platform=kubernetes --use-case=quality-gates --gateway=NodePort --creds=creds.json

echo "Exposing keptn API"
kubectl apply -f api-bridge-external.yaml


echo "Installing Apache"
sudo cp ~/000-default.conf /etc/apache2/sites-available/000-default.conf
sudo a2enmod proxy
sudo a2enmod proxy_http
sudo a2enmod proxy_balancer
sudo a2enmod lbmethod_byrequests
sudo systemctl restart apache2

echo "Keptn installation finished. "
echo "You can reach the API through the following URL:"
echo "http://${public_ip}/swagger-ui/"
echo "Your keptn API token: $(kubectl get secret keptn-api-token -n keptn -ojsonpath={.data.keptn-api-token} | base64 --decode)" 
echo "You can reach the Keptn Bridge through the following URL:"
echo "http://${public_ip}:81"